*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

header {
    display: flex;
    width: 100%;
    height: 10vh;
    background-color: black;
    justify-content: space-between;
    padding: 0 150px;
    align-items: center;
}

header a i{
    color: white;
    font-size: x-large;   
}

header nav ul li{
    display: inline-block;
    padding: 30px 15px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: small;
    font-weight: 700;
}

header nav ul li a:hover{
    color: rgb(30, 215, 96);
}

.mainpage{
    display: flex;
    width: 100%;
    height: 72vh;
    background-color: rgb(255, 205, 210);
    justify-content: space-around;
    align-items: center;
}

.mainpage .entry{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 1px 0 100px;
}

.mainpage .entry div{
    padding: 23px 0;
}

.entryPhoto{
    padding: 0 100px 0 1px;
}

.mainpage .entry button{
    padding: 12px 40px 12px 40px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    border-radius: 58px;
    background: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

.btn-1{
    display: flex;
    width: 370px;
    height: 52px;
    align-items: center;
    justify-content: flex-start;
}
.mainpage .entry button:hover{
    width: 326px;
    height: 50px;
}
.text{
    max-width: 700px;

}
.text1{
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 46px 0!important;
}
.text2{
    font-size: 60px;
    font-weight: 900;
}
.text3{
    font-size: 22px;
    font-weight: 500;
}

.spotifyFree{
    width: 100%;
    height: 30vh;
    background-color: rgb(41, 65, 171);
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger .line1, .hamburger .line2, .hamburger .line3{
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px ;
    transition: .3s ease;
}

@media screen and (max-width:1200px) {
    body{
        overflow-x: hidden;
    }
    header{
        justify-content: space-between;
        padding: 0 10px;
    }
    header nav{
        position: absolute;
        right: 0;
        height: 90vh;
        top: 10vh;
        background-color: black;
        width: 50%;
        transform: translateX(100%);
        transition: 0.5 ease-in-out;
    }
    header nav .navLinks{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        align-content: space-around;
    }
    header nav .navLinks li{
        opacity: 0;
    }
    body .hamburger{
        display:block;
    } 
}

.navOpen{
    transform: translateX(0%);
}

.shadow{
    background: rgba(0, 0, 0, 0.89);
}
    
@media screen and (max-width:1100px) {

    .mainpage{
        height: 100vh;
        flex-direction: column;    
        justify-content: space-evenly;
    }
    .text{
        margin: 7px auto;
        min-width: 750px;
        text-align: center;
    }
    .btn-1{
        justify-content: center;
        width: 750px;
    }
    .padImp{
        padding:0 !important;
    }
    
}

.close .line1{
    transform: rotate(-45deg) translate(-5px , 6px);

}
.close .line2{
    opacity: 0;
}
.close .line3{
    transform: rotate(45deg) translate(-5px , -6px);
}

@media screen and (max-width:750px) {
    .mainpage{
        height: 130vh;
    }
}

@keyframes navFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}